/**
* Custom CSS
* --------------------------------------------------------------------- */

#custom-css {
  --mainColor: #864692;
  --mainHoverColor: #b580c9;
  --mainColorLighter: #b580c9;
  --mainColorLightest: #d6b3dd;
  --mainForegroundColor: #17112d;
  --mainBackgroundColor: #fffafa;
  --menuBackgroundColor: #17112d;
  --submenuBackgroundColor: #f7f7f7;
}


/**
    * Custom Logo
    * --------------------------------------------------------------------- */

.icon-logo {
  background-image: url(/client/assets/images/logo.svg?YuoFG5oA) !important;
}

my-login .instance-name,
my-register .instance-name {
  content: url(/client/assets/images/logo.svg);
  height: 50px !important;
}

my-login .instance-short-description,
my-register .instance-short-description {
  margin-top: 7px !important;
}


/**
    * Hacks
    * --------------------------------------------------------------------- */

img[alt="instance-picture"] {
  width: 100%;
}

#typeahead-container::before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
}

.user-quota .progress .progress-bar {
    background-color: var(--mainColorLighter) !important;
}

.user-quota .progress .progress-bar.secondary {
    background-color: var(--mainColorLightest) !important;
}

.user-quota .progress span {
    color: var(--mainForegroundColor) !important;
}

/**
    * Custom CSS
    * --------------------------------------------------------------------- */

#custom-css {

  --customtouchHeight: 36px;
}


/**
    * Custom Logo
    * --------------------------------------------------------------------- */

.icon-logo {
  margin-right: 5px;
  width: 208px !important;
  height: var(--customtouchHeight) !important;
}

/* Hide instance-name of logo - but still displayed for SEO */
.icon-logo + .instance-name {
  position: absolute;
  width: 1px !important;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/**
    * Custom Alert
    * --------------------------------------------------------------------- */

.alert {
  border-style: none;
  border-width: 0;
  border-left: 7px solid;
}


/**
    * Custom Modal
    * --------------------------------------------------------------------- */

.modal .modal-header {
  background-color: var(--submenuBackgroundColor) !important;
}

.modal .modal-content {
  border: 0 none !important;
  box-shadow: 0 0 15px var(--mainColor) !important;
}


/**
    * Custom Hamburger Menu Icon Color
    * --------------------------------------------------------------------- */

.icon.icon-menu {
  transition: background-color 0.15s;
  /* fixes morphing effect */
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 24px 24px;
}

.icon.icon-menu:hover,  .icon.icon-menu:active,  .menu-open .icon.icon-menu {
  background-color: var(--mainColor) !important;
}


/**
    * Custom Instance Description
    * --------------------------------------------------------------------- */

.instance-short-description, my-about-instance .block.short-description {
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--greyForegroundColor);
  font-style: italic;
  letter-spacing: 1px;
}

.instance-short-description { /* For login and signup pages */
  margin-bottom: 3px !important;
}


/**
    * Custom Focus Input
    * --------------------------------------------------------------------- */

.form-control,
.form-group textarea,
.form-group input[type=text],
.form-group select {
  transition: all .15s ease-in-out !important;
}

.form-control:focus,
.form-control:focus-within,
.form-group textarea:focus,
.form-group input[type=text]:focus,
.form-group select:focus,
.form-group textarea:focus-within,
.form-group input[type=text]:focus-within,
.form-group select:focus-within {
  border-width: 1px !important;
  box-shadow: 0 0 0 1px var(--mainColor) !important;
  border-color: var(--mainColor) !important;
}


/**
    * Custom Header Search Box
    * --------------------------------------------------------------------- */

my-search-typeahead.justify-content-end {
  justify-content: center !important;
}

#typeahead-container::before {
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  position: absolute;
  margin-top: 6px;
  left: 10px;
  content: ' ';
  z-index: 3;
  background-color: var(--actionButtonColor) !important;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
}

#typeahead-container input#search-video {
  text-indent: 25px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
  transition: all .4s;
  box-shadow: none;
  background-color: var(--submenuBackgroundColor) !important;
  border: 2px solid var(--greyBackgroundColor) !important;
  border-radius: 4px;
  cursor: text;
  color: var(--mainForegroundColor);
  opacity: 1 !important;
}

#search-video::placeholder {
  color: var(--actionButtonColor) !important;
  opacity: 1 !important;
}

#typeahead-container input#search-video:not(:focus):hover,
#typeahead-container input#search-video:not(:focus):active {
  box-shadow: none;
}

#typeahead-container input#search-video:focus {
  background-color: var(--mainBackgroundColor) !important;
  border: 2px solid var(--mainColor) !important;
  z-index: 0;
  cursor: text;
}

#typeahead-instructions {
  margin-top: 2px !important;
}

#typeahead-container .icon.icon-search {
  display: none;
}

@media screen and (max-width: 500px) {
  #typeahead-container {
    display: none !important;
  }
}


/**
    * Custom Video-comment Textarea
    * --------------------------------------------------------------------- */

my-video-comment-add .avatar-and-textarea {
  align-items: center !important;
}

my-video-comment-add textarea {
  min-height: var(--customtouchHeight);
  max-height: var(--customtouchHeight);
  height: var(--customtouchHeight);
  border: 1px solid var(--greyBackgroundColor) !important;
  background-color: var(--submenuBackgroundColor) !important;
}

my-video-comment-add textarea:focus {
  min-height: 70px !important;
  height: 70px;
  max-height: none !important;
  background-color: var(--mainBackgroundColor) !important;
}

my-video-comment-add textarea::placeholder {
  color: var(--actionButtonColor) !important;
  opacity: 1 !important;
}

my-video-comment-add .markdown-guide svg {
  color: var(--actionButtonColor) !important;
  fill: var(--mainBackgroundColor) !important;
  background-color: var(--actionButtonColor) !important;
}

my-video-comment-add .markdown-guide svg rect {
  stroke: var(--actionButtonColor) !important;
}


/**
    * NSFW blur only on thumbnails, display titles
    * --------------------------------------------------------------------- */

.video-miniature-name.blur-filter {
  -webkit-filter: unset !important;
  filter: unset !important;
}

.videos .video-wrapper {
position: relative;
}

.video-thumbnail .blur-filter {
  transform: none !important;
  filter: unset !important;
}

.video-miniature-name.blur-filter::after {
    content: 'NSFW';
    position: absolute;
    top: 1px;
    right: 19px;
    color: white;
    background-color: red;
    padding: 3px;
    border-radius: 3px;
}

/**
    * Small Hacks
    * --------------------------------------------------------------------- */

/* Hide footer contact link */
.footer-links a[href='/about/instance'] {
  display: none !important;
}

/* Do no let resize on textarea*/
my-markdown-textarea textarea,
my-video-comment-add textarea {
  resize: none;
}

/* Custom shadow input and textarea on Chrome / Webkit */
input, textarea {
  -webkit-appearance: none;
}

/* hack lists in cards */
#code-of-conduct ol, .code-of-conduct ol {
  padding-left: 15px;
}
#code-of-conduct ul, .code-of-conduct ul {
  padding-left: 25px;
}
#terms ul, .terms ul {
  padding-left: 10px;
}


/**
    * Custom About Page
    * --------------------------------------------------------------------- */

my-about-instance .middle-title {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  letter-spacing: 2px;
}

my-about-instance .section-title {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  text-transform: uppercase;
}

my-about-instance .block:not(.short-description) {
  background-color: var(--submenuBackgroundColor);
  padding: 10px 15px;
  border-radius: 5px;
}

my-about-instance .block {
  margin-bottom: 10px !important;
}

my-about-instance .about-instance-title {
  flex-wrap: wrap;
}

my-about-instance .about-instance-title .title {
  position: relative;
  width: auto !important;
  height: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

my-about-instance .about-instance-title .contact-admin {
  margin-bottom: 0.5rem;
}


/**
    * Homepage
    * --------------------------------------------------------------------- */

.peertube-container.layout-row,
.custom-markup-container > div > h3 {
  justify-content: center !important;
  width: calc(100% + var(--horizontalMarginContent));
  padding: 0 var(--horizontalMarginContent);
}

.peertube-container > * > * > .channel {
  height: 400px !important;
}

.root > my-custom-markup-container .custom-markup-container > div {
  width: calc(100% + var(--horizontalMarginContent)*3);
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: calc(-1 * var(--horizontalMarginContent)*2);
  margin-right: calc(-1 * var(--horizontalMarginContent)*2);
  padding-left: var(--horizontalMarginContent);
  padding-right: var(--horizontalMarginContent);
  padding-bottom: 20px;
  position: relative;
}

.root > my-custom-markup-container .custom-markup-container > div > img:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: var(--channelBackgroundColor);
  border-style: solid;
  border-width: 2px;
  width: 100%;
  max-height: 350px;
  max-width: 500px;
  align-self: flex-start;
  border-radius: 0 0 50% 0;
  float: left;
  margin-right: 20px;
}

.root > my-custom-markup-container .custom-markup-container > div h2,
.root > my-custom-markup-container .custom-markup-container > div p,
.root > my-custom-markup-container .custom-markup-container > div h2 + p + div {
  justify-content: flex-start;
  display: flex;
  min-width: 175px;
}

.root > my-custom-markup-container .custom-markup-container > div h2 + p + div {
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.root > my-custom-markup-container .custom-markup-container > div div peertube-button a {
  width: 175px;
}

peertube-channel-miniature, peertube-playlist-miniature, peertube-video-miniature {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
